{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock  %}

{% block main %}
    <h2>Change Passwprd</h2>
    <form action={{ url_for('change_password')}} method = "post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm New Password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
{% endblock  %}