{% extends "layout.html" %}

{% block title %}
    History
{% endblock  %}

{% block main %}
    <table>
        <tr>
            <th>Time</th>
            <th>Stock Symbol</th>
            <th>Stock Status</th>
            <th>Stock Price</th>
            <th>Number of Stocks</th>
            <th>Total Price</th>    
        </tr>
        <tbody>
            {% for history in stocks_history %}
            <tr>
                <td>{{ history.transacted_at }}</td>
                <td>{{ history.symbol }}</td>
                <td>{{ history.stock_status }}</td>
                <td>{{ history.price }}</td>
                <td>{{ history.No_of_shares }}</td>
                <td>{{ history.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>      
    </table>
{% endblock  %}