{% extends "layout.html" %}

{% block title %}
    Portfolio of {{ username }}
{% endblock  %}

{% block main %}

    <h1><strong>Available Cash</strong>:{{ user_cash }}</h1>
    <h2><strong>Grand Total</strong>(stocks total value plus cash):{{ user_cash + total }}</h2>
    <table>
        <thead>
            <tr>
                <th>Owned Stocks</th>
                <th>Number of Owned Stocks</th>
                <th>Price of Stock</th>
                <th>Total Price Holding</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks  %}
                <tr>
                    <td>{{ stock.stock_symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.value }}</td>
                </tr>
            {% endfor %}
    </table>


{% endblock  %}