{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock  %}

{% block main %}
    <h1>Sell Stocks</h1>
    <form action={{ url_for('sell') }} method = "post">
        <select name="symbol" required>
            <option disabled selected value="">Stock Symbol</option>
            {% for stock in stocks %}
                <option value="{{ stock.stock_symbol }}">{{ stock.stock_symbol }}({{ stock.total_share }} shares)</option>
            {% endfor %}
        </select>
        <input name = "shares" type="text" placeholder="Shares" required>
        <button type="Submit">Sell</button>
    </form>
{% endblock  %}